/* from img:
  light waffle: #f9c287,
  med waffle: #e5953d,
  dark waffle (border): #96622b,
  text on light waffle: #4e3418 (to meet accessibility standards)
 */

 .navbar-nav > li{
  padding-left:10px;
  padding-right:10px;
}

.btn-primary {
  background-color: #f9c287;
  color: #4e3418;
  border: 0px;
}

.btn-primary:hover {
  background-color: #f9c287;
  color: #4e3418;
  border: 0px;
}

.btn-primary:focus {
  background-color: #e5953d;
  color: #4e3418;
  border: 0px;
}

.btn-primary:active {
  background-color: #e5953d;
  color: #4e3418;
  border: 0px;
}

.navbar-brand {
  color: #4e3418;
}

.navbar-brand:visited {
  color: #4e3418;
}

input:invalid {
  border: 1px solid red;
}

input:valid {
  border: 1px solid green;
}
