<!-- base template for the website -->

<!DOCTYPE html>
<html>
    <head>
        <title>Woofles - {% block title %}{% endblock %}</title>
        <!-- Required meta tags for Bootstrap -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="/css/main.css" rel="stylesheet">

        <!-- not sure if we will use jquery or bootstrap, but thought worth including for now -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- header - navbar, login, etc -->

        <nav class="navbar navbar-light bg-light navbar-expand">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">
                <img src="/assets/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
                Woofles
              </a>
            </div>

            {% if logged_in %}
              {% if profile %}
                <ul class="nav navbar-nav navbar-right flex-sm-row">
                  <li><a href="/edit_profile">Edit Profile</a></li>
                  <li><a href="/search">Search For Sitters</a></li>
                  <li><a href="/logout">Log Out</a></li>
                </ul>
                
                {% else %}
                  <ul class="nav navbar-nav navbar-right flex-sm-row">
                    <li><a href="/my_profile">Profile</a></li>
                    <li><a href="/logout">Log Out</a></li>
                  </ul>

              {% endif %}

            {% else %}
            <ul class="nav navbar-nav navbar-right flex-sm-row">
              <li><a href="/">Login</a></li>
            </ul>

            {% endif %}

          </div>
        </nav>

        <div class="container content">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
