<!-- template for the account creation page -->

{% extends 'base.html' %}
{% set active = "Create Account" %}

{% block title %}
Create Account
{% endblock %}

{% block content %}

<h1 class="page-header"> Create Account </h1>

{% if error %}
<div class="error-message">
    {{ error }}
</div>
{% endif %}

<!-- classes are used for Bootstrap formating -->
<div class="form-group">
<form method="POST" action="/create_account">
    <label for="name">Name</label>
    <input class="form-control" type="text" name="name" id="name" required>
    <br><br>
    <label for="email">Email</label>
    <input class="form-control" type="text" name="email" pattern="\w*@\w*.\w*" id="email" required>
    <br><br>
    <label for="example-text-input">Password</label>
    <input class="form-control" type="password" name="password" id="password" required>
    <br><br>
    <label for="example-text-input">Address</label>
    <div class="input-group">
    <input class="form-control" type="text" name="addr" id="addr" required>
    <button type="button" class="btn btn-primary input-group-append">Use GPS</button>
    </div>
    <br><br>
    <label for="example-text-input">Bio</label>
    <input class="form-control input-lg" type="text" name="bio" id="bio" required>
    <br><br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<p><a href = "/login">Already have an account? Click here to login!</a></p>

{% endblock %}

