<!-- template for the dog profile creation page -->

{% extends 'base.html' %}
{% set active = "Create Account" %}

{% block title %}
Add Dog Profiles
{% endblock %}

{% block content %}

{% if error %}
<div class="error-message">
    {{ error }}
</div>
{% endif %}

<script>
var dogs = 0;

function addDog() {
    dogs = dogs + 1;
    let new_form = $('<div>').addClass('dog_form').attr('id', dogs.toString()).css('border','1px solid black').css('padding', '8px')
            .append(
                $('<label>').attr('for', 'name').text('Name')
            )
            .append(
              $('<div>').addClass('input-group')
              .append(
                  $('<input>').addClass('form-control').attr('type', 'text').attr('name', 'name-' + dogs.toString()).attr('data-toggle', 'tooltip').attr('data-placement', 'right').attr('title', "Dog's name").prop('required',true)
              ).append(
                  $('<div>').addClass('input-group-append')
                    .append(
                        $('<button>').attr('type', 'button').text('Remove Dog').attr('name', 'action').click(dogs, removeDog).addClass("btn btn-primary")
                    )
              )
            ).append(
                $('<br>')
            )

            .append(
                $('<label>').attr('for', 'age').text('Age')
            ).append(
                $('<input>').addClass('form-control').attr('type', 'number').attr('name', 'age-' + dogs.toString()).attr('data-toggle', 'tooltip').attr('data-placement', 'right').attr('title', "Dog's age in years").prop('required',true)
            ).append(
                $('<br>')
            )

            .append(
                $('<label>').attr('for', 'breed').text('Breed')
            ).append(
                $('<input>').addClass('form-control').attr('type', 'text').attr('name', 'breed-' + dogs.toString()).attr('data-toggle', 'tooltip').attr('data-placement', 'right').attr('title', "Dog's breed").prop('required',true)
            ).append(
                $('<br>')
            )

            .append(
                $('<label>').attr('for', 'food-qt').text('Food Quantity')
            ).append(
                $('<input>').addClass('form-control').attr('type', 'text').attr('name', 'food_qt-' + dogs.toString()).attr('data-toggle', 'tooltip').attr('data-placement', 'right').attr('title', "How much the dog eats at a meal").prop('required',true)
            ).append(
                $('<br>')
            )

            .append(
                $('<label>').attr('for', 'food-occ').text('Meal Frequency')
            ).append(
                $('<input>').addClass('form-control').attr('type', 'text').attr('name', 'food_occ-' + dogs.toString()).attr('data-toggle', 'tooltip').attr('data-placement', 'right').attr('title', "How often the dog is fed").prop('required',true)
            ).append(
                $('<br>')
            )

            .append(
                $('<label>').attr('for', 'activity').text('Activity Level')
            ).append(
                $('<input>').addClass('form-control').attr('type', 'range').attr('name', 'activity-' + dogs.toString()).attr('min', '1').attr('max', '5').attr('data-toggle', 'tooltip').attr('data-placement', 'right').attr('title', "Leftmost for low activity, rightmost for high activity").prop('required',true)
            ).append(
                $('<br>')
            )

            .append(
                $('<label>').attr('for', 'notes').text('Notes for Sitters')
            ).append(
                $('<textarea>').addClass('form-control input-lg').attr('type', 'text').attr('name', 'notes-' + dogs.toString()).attr('data-toggle', 'tooltip').attr('data-placement', 'right').attr('title', "Anything prospective sitters should know about caring for this dog").prop('required',true)
            )

    $('.form-insert').last().append(new_form);
}

function removeDog(i) {
    document.getElementById(i.data).remove();
}

// function loadGoats() {
//         $.get("api/mygoats", function (data) {
//             buildCards(data);
//         });
//     }

// function unadoptGoat(uid) {
//     $.get("api/unadopt", {
//         uid: uid
//     }, function (data) {
//         buildCards(data);
//     });
// }
// @app.route('/api/unadopt')
// def api_unadopt():
//     if 'user' in session:
//         goat_id = request.args.get('uid')
//         get_db().update_goat_adopted(goat_id, 0)
//         return api_mygoats()
//     else:
//         return jsonify('Error: User not authenticated')


// name = request.form['name']
//             age = request.form['age']
//             breed = request.form['breed']
//             food_qt = request.form['food-qt']
//             food_occ = request.form['food-occ']
//             activity = request.form['activity']
//             notes = request.form['notes']

// function saveDog(uid){
//     $.get("api/save-dog", {
//         name =
//     })
// }

// $(function () {
//     loadGoats();
// });
// function onlySitter() {
//     if (document.getElementById('form-insert').innerHTML.length == 0)
// }

</script>


<h1 class="page-header"> Add Dog Profiles </h1>

<div class="form-group">
<form method="POST" action="/create_dog_profiles">
    <div class="form-insert" id="form-insert"></div>
    <br>
    <div class="btn-group-justified row text-center">
      <div class="col-4">
      <button type="submit" class="btn btn-primary" name="action" value="cancel">Cancel</button>
      </div>
      <div class="col-4">
      <button type="button" class="btn btn-primary" name="action" value="add" onclick="addDog()">+ Dog</button>
      </div>
      <div class="col-4">
      <button type="submit" class="btn btn-primary" name="action" value="continue">Continue</button>
      </div>
    </div>
</form>
</div>

{% endblock %}
