<!-- template for the active user's profile page -->

{% extends 'base.html' %}
{% set active = "My Account" %}

{% block title %}
My Account
{% endblock %}

{% block content %}

<p>Note: If no changes are made to the password, the original is maintained despite there being an empty field</p>

{% if error %}
<div class="error-message">
    {{ error }}
</div>
{% endif %}

<script>
  dogs = 0;

  function addDog() {
      dogs = dogs + 1;
      let new_form = $('<div>').addClass('dog_form').attr('id', dogs.toString()).css('border','1px solid black').css('padding', '8px')
              .append(
                  $('<label>').attr('for', 'name').text('Name')
              )
              .append(
                $('<div>').addClass('input-group')
                .append(
                    $('<input>').addClass('form-control').attr('type', 'text').attr('name', 'new-name-' + dogs.toString()).attr('data-toggle', 'tooltip').attr('data-placement', 'right').attr('title', "Dog's name").prop('required',true)
                ).append(
                    $('<div>').addClass('input-group-append')
                      .append(
                          $('<button>').attr('type', 'button').text('Remove Dog').attr('name', 'action').click({"new_dog": "True", "id": dogs}, removeDog).addClass("btn btn-primary")
                      )
                )
              ).append(
                  $('<br>')
              )

              .append(
                  $('<label>').attr('for', 'age').text('Age')
              ).append(
                  $('<input>').addClass('form-control').attr('type', 'number').attr('name', 'new-age-' + dogs.toString()).attr('data-toggle', 'tooltip').attr('data-placement', 'right').attr('title', "Dog's age in years").prop('required',true)
              ).append(
                  $('<br>')
              )

              .append(
                  $('<label>').attr('for', 'breed').text('Breed')
              ).append(
                  $('<input>').addClass('form-control').attr('type', 'text').attr('name', 'new-breed-' + dogs.toString()).attr('data-toggle', 'tooltip').attr('data-placement', 'right').attr('title', "Dog's breed").prop('required',true)
              ).append(
                  $('<br>')
              )

              .append(
                  $('<label>').attr('for', 'food-qt').text('Food Quantity')
              ).append(
                  $('<input>').addClass('form-control').attr('type', 'text').attr('name', 'new-food_qt-' + dogs.toString()).attr('data-toggle', 'tooltip').attr('data-placement', 'right').attr('title', "How much the dog eats at a meal").prop('required',true)
              ).append(
                  $('<br>')
              )

              .append(
                  $('<label>').attr('for', 'food-occ').text('Meal Frequency')
              ).append(
                  $('<input>').addClass('form-control').attr('type', 'text').attr('name', 'new-food_occ-' + dogs.toString()).attr('data-toggle', 'tooltip').attr('data-placement', 'right').attr('title', "How often the dog is fed").prop('required',true)
              ).append(
                  $('<br>')
              )

              .append(
                  $('<label>').attr('for', 'activity').text('Activity Level')
              ).append(
                  $('<input>').addClass('form-control').attr('type', 'range').attr('name', 'new-activity-' + dogs.toString()).attr('min', '1').attr('max', '5').attr('data-toggle', 'tooltip').attr('data-placement', 'right').attr('title', "Leftmost for low activity, rightmost for high activity").prop('required',true)
              ).append(
                  $('<br>')
              )

              .append(
                  $('<label>').attr('for', 'notes').text('Notes for Sitters')
              ).append(
                  $('<textarea>').addClass('form-control input-lg').attr('type', 'text').attr('name', 'new-notes-' + dogs.toString()).attr('data-toggle', 'tooltip').attr('data-placement', 'right').attr('title', "Anything prospective sitters should know about caring for this dog").prop('required',true)
              )

      $('.form-insert').last().append(new_form);
  }


  function removeDog(data) {
    console.log(data.data);
    new_dog = data.data["new_dog"]
    id = data.data["id"]
    document.getElementById(id).remove();
  }

  function add_dog(dog) {
    let new_form = $('<div>').addClass('dog_form').attr('id', dog['dog_id'].toString()).css('border','1px solid black').css('padding', '8px')
            .append(
                $('<label>').attr('for', 'name').text('Name')
            )
            .append(
              $('<div>').addClass('input-group')
              .append(
                  $('<input>').addClass('form-control').attr('type', 'text').attr('name', 'name-' + dog['dog_id'].toString()).attr('data-toggle', 'tooltip').attr('data-placement', 'right').attr('title', "Dog's name").prop('required',true).val(dog['name'])
              ).append(
                  $('<div>').addClass('input-group-append')
                    .append(
                        $('<button>').attr('type', 'button').text('Remove Dog').attr('name', 'action').click({"new_dog": "False", "id": dog['dog_id']}, removeDog).addClass("btn btn-primary")
                    )
              )
            ).append(
                $('<br>')
            )

            .append(
                $('<label>').attr('for', 'age').text('Age')
            ).append(
                $('<input>').addClass('form-control').attr('type', 'number').attr('name', 'age-' + dog['dog_id'].toString()).attr('data-toggle', 'tooltip').attr('data-placement', 'right').attr('title', "Dog's age in years").prop('required',true).val(dog['age'])
            ).append(
                $('<br>')
            )

            .append(
                $('<label>').attr('for', 'breed').text('Breed')
            ).append(
                $('<input>').addClass('form-control').attr('type', 'text').attr('name', 'breed-' + dog['dog_id'].toString()).attr('data-toggle', 'tooltip').attr('data-placement', 'right').attr('title', "Dog's breed").prop('required',true).val(dog['breed'])
            ).append(
                $('<br>')
            )

            .append(
                $('<label>').attr('for', 'notes').text('Notes for Sitters')
            ).append(
                $('<textarea>').addClass('form-control input-lg').attr('type', 'text').attr('name', 'notes-' + dog['dog_id'].toString()).attr('data-toggle', 'tooltip').attr('data-placement', 'right').attr('title', "Anything prospective sitters should know about caring for this dog").attr("rows", '5').prop('required',true).val(dog['bio'])
            )

    $('div .form-insert').last().append(new_form);
  }


  $(document).ready(function(){
    dogs = 0
    $('#name').val("{{ user['name'] }}");
    $('#email').val("{{ user['username'] }}");
    $('#addr').val("{{ user['address'] }}");
    $('#bio').val("{{ user['bio'] }}");

    dog_json = {{ dogs | tojson }};

    if (dog_json !== {}) {
      for (const dog in dog_json) {
        add_dog(dog_json[dog][0]);
        dogs = Math.max(dogs, dog_json[dog][0]['dog_id']);
      }
    }
  });

</script>

<div class="border">
    <div class="form-group">
    <form method="POST" action="/edit_profile">
        <label for="name">Name</label>
        <input class="form-control" type="text" name="name" id="name" required>
        <br><br>
        <label for="email">Email</label>
        <input class="form-control" type="text" name="email" pattern="\w*@\w*.\w*" id="email" required>
        <br><br>
        <label for="example-text-input">Password</label>
        <input class="form-control" type="password" name="password" id="password">
        <br><br>
        <label for="example-text-input">Address</label>
        <div class="input-group">
        <input class="form-control" type="text" name="addr" id="addr" val="{{ user['address'] }}" required>
        <button type="button" class="btn btn-primary input-group-append">Use GPS</button>
        </div>
        <br><br>
        <label for="example-text-input">Bio</label>
        <input class="form-control input-lg" type="text" name="bio" id="bio" val="{{ user['bio'] }}" required>
        <br><br>

        <div class="form-insert" id="form-insert"></div>

        <div class="btn-group-justified row text-center">
            <div class="col-4">
                <button type="submit" class="btn btn-primary" name="action" value="cancel">Cancel</button>
            </div>
            <div class="col-4">
                <button type="button" class="btn btn-primary" name="action" value="add" onclick="addDog()">+ Dog</button>
            </div>
            <div class="col-4">
                <button type="submit" class="btn btn-primary" name="action" value="save">Save</button>
            </div>
        </div>
    </form>
    </div>

</div>
{% endblock %}
