<!-- template for the login page -->

{% extends 'base.html' %}
{% set active = "Login" %}

{% block title %}
Login
{% endblock %}

{% block content %}

<h1 class="page-header"> Login </h1>

{% if error %}
<div class="error-message">
    {{ error }}
</div>
{% endif %}

<!-- classes are used for Bootstrap formating -->
<div class="form-group">
<form method="POST" action="/login">
    <label for="email">Email</label>
    <input class="form-control" type="text" id = "email" name="email" pattern="\w*@\w*.\w*" required>
    <br><br>
    <label for="example-text-input">Password</label>
    <input class="form-control" type="password" id = "password" name="password" required>
    <br><br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<p><a href = "/create_account">New to Woofles? Click here to create an account!</a></p>

{% endblock %}
