<!-- template for the active user's profile page -->

{% extends 'base.html' %}
{% set active = "My Account" %}

{% block title %}
My Account
{% endblock %}

{% block content %}

{% if error %}
<div class="error-message">
    {{ error }}
</div>
{% endif %}

<script>

  function add_dog(dog) {
    let new_dog = $('<div>').addClass('dog').attr('id', dog['dog_id']).css('border','1px solid black').css('padding', '8px')
                    .append(
                      $('<div>').addClass('row')
                      .append(
                          $('<div>').addClass('col-4')
                          .append(
                              $('<p>').text("Name:")
                          )
                      )
                      .append(
                          $('<div>').addClass('col-4')
                          .append(
                              $('<p>').text(dog['name'])
                          )
                      )
                    )

                    .append(
                      $('<div>').addClass('row')
                      .append(
                          $('<div>').addClass('col-4')
                          .append(
                              $('<p>').text("Age:")
                          )
                      )
                      .append(
                          $('<div>').addClass('col-4')
                          .append(
                              $('<p>').text(dog['age'])
                          )
                      )
                    )

                    .append(
                      $('<div>').addClass('row')
                      .append(
                          $('<div>').addClass('col-4')
                          .append(
                              $('<p>').text("Breed:")
                          )
                      )
                      .append(
                          $('<div>').addClass('col-4')
                          .append(
                              $('<p>').text(dog['breed'])
                          )
                      )
                    )

                    .append(
                      $('<div>').addClass('row')
                      .append(
                          $('<div>').addClass('col-4')
                          .append(
                              $('<p>').text("Bio:")
                          )
                      )
                      .append(
                          $('<div>').addClass('col-4')
                          .append(
                              $('<p>').text(dog['bio'])
                          )
                      )
                    );
      $('.dog-info').last().append(new_dog);
      // $('div .form-insert').append(new_form);
      console.log(new_dog.text());
  }


  $(document).ready(function(){
    dog_json = {{ dogs | tojson }};

    if (dog_json !== {}) {
      // console.log(dog_json);
      for (const dog in dog_json) {
        add_dog(dog_json[dog][0]);
      }
    }
  });

</script>

<div class="border">
    <!-- user info -->
    <div class="user-info">
        <div class="row">
          <div class="col-4">
              <p>Name:</p>
          </div>
          <div class="col-4">
              <p>{{ user['name'] }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
              <p>Email:</p>
          </div>
          <div class="col-4">
              <p>{{ user['username'] }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
              <p>Address:</p>
          </div>
          <div class="col-4">
              <p>{{ user['address'] }}</p>
          </div>
        </div>
        <div class="row">
        <div class="col-4">
              <p>Bio:</p>
          </div>
          <div class="col-4">
              <p>{{ user['bio'] }}</p>
          </div>
        </div>
    </div>
    <div class="dog-info">
    <!-- dog info -->
    </div>

</div>
{% endblock %}
