<!-- template for a profile page page -->

{% extends 'base.html' %}
{% set active = "User Account" %}

{% block title %}
User Account
{% endblock %}

{% block content %}


<div class="border">
    <!-- user info -->
    <div class="user-info">
        <div class="row">
          <div class="col-4">
              <p>Name:</p>
          </div>
          <div class="col-4">
              <p>{{ user['name'] }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
              <p>Email:</p>
          </div>
          <div class="col-4">
              <p>{{ user['username'] }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
              <p>Address:</p>
          </div>
          <div class="col-4">
              <p>{{ user['address'] }}</p>
          </div>
        </div>
        <div class="row">
        <div class="col-4">
              <p>Bio:</p>
          </div>
          <div class="col-4">
              <p>{{ user['bio'] }}</p>
          </div>
        </div>
    </div>
    <div class="dog-info">
    <!-- dog info -->
    </div>
    <form method="POST" action="/profile">
        <div class="form-insert"></div>
        <br>
        <div class="btn-group-justified row text-center">
          <div class="col-1">
          <button type="submit" class="btn btn-primary" name="action" value="cancel" onclick="window.history.go(-1); return false;">Back</button>
          </div>
 
          <div class="col-8">
          <button type="submit" class="btn btn-primary" name="action" value="book" >Book Sitter</button>
          </div>
        </div>

</div>
{% endblock %}
