<!-- template for the sitter search page -->

{% extends 'base.html' %}
{% set active = "Find Sitters" %}

{% block title %}
Find a Sitter
{% endblock %}

{% block content %}

    <h1>Sitters</h1>
    <p> Search by name of sitter or address by entering search below<br>
        or click search with no input to see all sitters</p>
    <form class="example" method="post" action="/search" >
        <input type="text" placeholder="Search" name="search" id="search">
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    <p></p>
    {% for item in data %}
        <tr><td> Name: {{item[1]}} </td></tr><br>
        <tr><td> Address: {{item[4]}}</td></tr><br>
        <tr><td> Bio: {{item[5]}}</td></tr><br>
        <form class="profile" method="POST" action="/profile">
            <input type="hidden" name="username" id="username" value="{{item[2]}}">
        <button type="submit" class="btn btn-secondary">go to profile</button></form>
        <br><br>
    {% endfor %}


{% endblock %}